<div class="flex flex-col items-center mt-44 mb-32 mx-6">
<h1 class="text-2xl font-bold text-sky-500">Budget Tracker App</h1>
<p class="text-sky-500 text-center mt-5">Welcome! Now handle your expenses and keep record of every transaction</p>
<%= image_tag ('budget-icon.jpg'), class: "w-40 mt-10" %>
</div>