<div class="flex justify-between w-96 bg-sky-500 p-4 text-slate-50">
  <%= image_tag ('hamburger-icon.png'), class: "w-8 h-8" %>
  <div>
    <h3>TRANSACTIONS</h3>
    <p class="text-sm ml-5 mt-5">Most recent</p>
  </div>
  <%= image_tag ('search-icon.png'), class: "w-8 h-8" %>
</div>