<div class="flex flex-col items-center">

  <div class="flex">
    <%= image_tag @group.icon, alt: 'icon', class: "w-40" %>
    <p><%= @group.name %></p>
  </div>

  <div>
    <p>Transaction pizza </p>
    <div>
      <%= image_tag ('calendar-icon.png'), alt: 'icon', class: "w-40" %>
      <p>2022-04-2022</p>
    </div>

    <div>
    <p>Payment</p>
    <p>$170</p>
  </div>
  </div>

</div>